.dailyWeather_Container {
  /* border: 1px solid red; */
  width: 95vw;
  height: 20vh;
  margin-top: 3vh;
  padding: 0.5%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.dailyWeather_Container_SingleBlock {
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dailyWeather_Container_SingleBlock h2 {
  font-size: 1.5em;
}

.dailyWeather_Container_SingleBlock_MaxMinContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

/* Media queries for mobile */
@media (max-width: 500px) {
  .dailyWeather_Container {
    /* width: fit-content; */

    height: 23%;
    padding: 2%;
    margin-top: 1%;
    display: inline-flex;
    align-items: center;
    gap: 4%;
    overflow: scroll;
    flex: 0 1 1;
    /* flex-wrap: ; */
  }

  .dailyWeather_Container_SingleBlock {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* gap: 1%; */
    border: 1px solid orange;
  }
  .dailyWeather_Container_SingleBlock h2 {
    font-size: 1rem;
  }
  .dailyWeather_Container_SingleBlock_MaxMinContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    /* border: 1px solid pink; */
  }
  .dailyWeather_Container_SingleBlock_MaxMinContainer p {
    font-size: 0.6em;
  }
}
